.app_account_management_activity {
  max-width: 430px;
  width: 100%;

  @include screen('md') {
    max-width: unset;
  }

  &__ctt {
    min-height: 200px;
    max-height: 260px;
    overflow-y: auto;

    border-radius: 8px;
    padding: 1.25rem;
    background: var(--neutral-colours-white);
    padding: 1rem;

    &__item {
      border-radius: 10px;
      padding: 0.75rem;
      background: var(--neutral-colours-nc-100);

      &__icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--neutral-colours-white);
      }

      &__credit {
        font-weight: 500;
        font-size: 14px;
        color: #222;
      }

      &__type {
        font-weight: 500;
        font-size: 12px;
        color: #808080;
      }

      &__amount {
        font-weight: 500;
        font-size: 14px;
        text-align: right;
        color: #00c213;
      }

      &__date {
        font-weight: 500;
        font-size: 12px;
        color: #808080;
        text-align: right;
      }
    }

    &__item__debit {
      .app_account_management_activity__ctt__item__amount {
        color: #d70000;
      }
    }
  }
}
