.app_digital_adoption {
  &__ctt {
    display: flex;
    overflow-x: auto;
    gap: 1.25rem;
    flex-wrap: nowrap;

    &__item {
      background: var(--neutral-colours-nc-100);
      border-radius: 4px;
      padding: 30px;
      min-width: 199px;
      width: 199px;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      &__icon {
        width: 42px;
        height: 42px;
        border-radius: 100%;
        background-color: #f6eaf4;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__label {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        color: #808080;
      }

      &__value {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        color: #222;
      }
    }
  }
}
