@import 'digital-adoption', 'balance-card', 'credit-score', 'loan', 'activity';

.app_acct_mgt_table {
  @extend .app_customer_table;

  tr th {
    @include screen('md') {
      display: none !important;

      &:nth-child(2),
      &:last-child {
        display: table-cell !important;
      }
    }
  }

  tr td {
    @include screen('md') {
      display: none !important;

      &:nth-child(2),
      &:last-child {
        display: table-cell !important;
      }
    }
  }
}
