.app_account_management_loan {
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  background: var(--neutral-colours-nc-100);
  padding: 1.25rem;

  &__title {
    background: var(--neutral-colours-white) !important;
  }

  &__ctt {
    display: flex;
    gap: 1rem;
    overflow-x: auto;

    &__item {
      background: var(--neutral-colours-white);
      border-radius: 8px;
      padding: 1.25rem;
      flex: 1;
      flex-shrink: 0;

      @include screen('md') {
        min-width: 180px;
      }

      &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #f6eaf4;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__details {
        font-weight: 500;
        font-size: 12px;
        color: #808080;
        text-wrap: nowrap;
      }

      &__amount {
        font-weight: 500;
        font-size: 24px;
        color: #222;
        font-weight: 700;
      }
    }
  }

  &__date {
    background: var(--neutral-colours-white);
    padding-bottom: 1.25rem;
    padding-top: 1rem;

    &__title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      color: #808080;
    }

    &__text {
      font-weight: 500;
      font-size: 14px;
      color: #222;
    }
  }
}
