NEXT_PUBLIC_API_URL=https://innovation-lab.wemabank.com/creathrivity-api
NEXT_PUBLIC_MOCK_DATA_ENABLED=true
NEXT_PUBLIC_ASSET_PREFIX_DISABLED=true
NEXT_PUBLIC_CLIENT_EMAIL=ayobami.aladenoye+creathrivity@wemabank.com
NEXT_PUBLIC_CLIENT_PASSWORD=Password1@
