.app_dashboard_group_header {
  border-bottom: 1px solid var(--chicago-100);
  flex-wrap: wrap;
  gap: 8px;

  &__btn {
    background-color: #fff;
    border: 1px solid var(--chicago-100);
    border-radius: 24px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 14px;
    color: var(--chicago-500);
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.app_popover {
  &__content {
    border-radius: 16px;
    max-width: 214px;
    padding: 0;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px 16px;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
    }
  }
  }


.project_management_card {
  overflow: hidden;
  text-align: center;

  &__ctt {
    padding: 0 1rem;

    &__option {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 1rem;
      padding: 1rem;
      border: #000 1px solid;
      border-color: var(--text-color-100);
      border-radius: 1rem;
      margin-top: 10px;

      &__title {
        font-family: var(--third-family);
        font-weight: 600;
        font-size: 15px;
        text-align: left;
        line-height: 145%;
        letter-spacing: -0.04em;
        color: var(--text-color-500);
      }

      &__details {
        font-family: var(--third-family);
        font-size: 12px;
        text-align: left;
        line-height: 120%;
        letter-spacing: -0.004em;
        color: var(--text-color-400);
        margin-top: 10px;
      }
    }
    &__title {
      font-family: var(--third-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 145%;
      letter-spacing: -0.04em;
      color: #000;
    }
    &__text {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--shark-400);
    }
  }
  &__action {
    padding: 1rem;
    padding-bottom: 1.5rem;

    &__btn1 {
      border-radius: 20px;
      padding: 10px;
      background: var(--primary-blue-500);
      font-family: var(--third-family);
      font-weight: 500;
      width: 100%;
      font-size: 13px;
      line-height: 145%;
      letter-spacing: -0.04em;
      color: white;
    }
    &__btn2 {
      border-radius: 20px;
      padding: 10px;
      font-family: var(--third-family);
      font-weight: 500;
      font-size: 13px;
      line-height: 145%;
      letter-spacing: -0.04em;
      color: var(--primary-blue-500);
      border: 1px solid;
      width: 100%;
    }
    &__text {
      font-family: var(--third-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 145%;
      letter-spacing: -0.04em;
      color: var(--shark-300);
    }
  }
}

.project_management_card__ctt__option.selected {
  border: 2px solid blue;
  background-color: #f0f0f0;
}


.billing-toggle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  background-color: var(--text-color-100);
  border-radius: 20px;

  button {
    padding: 10px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: var(--text-color-400);
    font-weight: bold;

    transition: all 0.3s ease;

    &.active {
      background-image: linear-gradient(180deg, #fff, #ebebeb);
      color: var(--text-color-400);
      box-shadow: 0px 4px 20px 0px #0000000d;
    }

    &:hover {
      color: var(--text-color-900);
    }
  }
}

.project_action_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  @include screen('sm') {
    display: block;
    
  }

  &__app_priority_tag {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
    border: 1px solid var(--danger-color, red);
    border-radius: 26px;
    color: var(--danger-color, red);
    font-size: 14px;

    &__dot {
      width: 8px;
      height: 8px;
      background-color: var(--danger-color, red);
      border-radius: 50%;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1px 6px;
    border: 1.5px solid var(--shark-500);
    border-radius: 15px;
    background-color: var(--shark-50);
    font-size: 12px;
    color: var(--text-color-400, #262626);
    // cursor: pointer;
    margin-right: 10px;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--primary-blue-500, #262626);
    }

    .app_button-icon {
      font-size: 16px;
    }
  }

  &__completed {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
    border-radius: 15px;
    background-color: var(--green-900);
    font-size: 12px;
    color: var(--shark-50);
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--primary-blue-500, #262626);
    }

    .app_button-icon {
      font-size: 16px;
    }
  }

  &__todo {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
    border-radius: 15px;
    background-color: white;
    font-size: 12px;
    color: var(--text-color-400, #262626);
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--primary-blue-500, #262626);
    }

    .app_button-icon {
      font-size: 16px;
    }
  }
}

.user-type-toggle {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 20px;
  border: 1px solid #000;
  width: fit-content;
  background-color: #fff;
  border-radius: 20px;
 
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;

    &.active {
      background-color: #fff;
      color: #333;
    }

    &:hover {
      color: var(--primary-blue-500);
    }
  }
}

.app_progress-bar {
  width: 100%;

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--shark-950);

    &__days-left {
      padding: 2px 8px;
      border: 1px solid var(--danger-color, red);
      border-radius: 26px;
      background-color: #E24D4D33;
      color: var(--text-color-500, red);
    }
  }

  &-track {
    width: 100%;
    height: 8px;
    background: var(--track-bg-color, #e7e7e7);
    border-radius: 4px;
    overflow: hidden;

    &-fill {
      height: 100%;
      background: var(--iris-60, #7b61ff);
      width: 0%;
      transition: width 0.3s ease;
    }
  }
}

.task-board {
  display: flex;
  gap: 1rem;
  margin-top: 20px;

  .task-section {
    flex: 1;
    border-radius: 8px;
    background-color: var(--treva-purple-50);
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &--completed {
      background-color: var(--treva-purple-100);
      height: fit-content;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      h3 {
        font-size: 1.25rem;
        margin: 0;
      }

      &__count {
        font-size: 0.875rem;
        background: #007bff;
        color: #fff;
        padding: 0.25rem 0.5rem;
        border-radius: 12px;
      }

      &__add {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    &__content {
      flex-grow: 1;

      .task-card {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 1rem;
        margin-bottom: 0.5rem;

        &__title {
          font-size: 1rem;
          margin: 0 0 0.5rem;
        }

        &__options {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            font-size: 0.875rem;

            label {
              margin-left: 0.5rem;
              cursor: pointer;
            }

            span {
              margin-right: 0.5rem;
            }
          }
        }
      }

      .task-section__add-task {
        background: none;
        border: none;
        color: #007bff;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 1rem;
      }
    }
  }
}
