.app_financial_segment_tooltip {
  &__indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);

    span {
      color: #808080;
    }
  }
}
