.app_psychographics {
  &__tab {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.75rem;
    overflow-x: auto;
    padding-bottom: 0.25rem;

    &__item {
      border-radius: 2px;
      padding: 4px 20px;
      font-weight: 500;
      font-size: 12px;
      color: #808080;
    }

    &__item.active {
      color: var(--neutral-colours-white);
      background: linear-gradient(89deg, #fc55e0 0%, #990b81 100%);
      border-radius: 10px;
    }
  }

  &__options {
    background: var(--neutral-colours-nc-100);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__item {
      border-radius: 4px;
      padding: 4px 10px;
      background: var(--neutral-colours-white);
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      color: #222;
    }
  }
}
