.app_dashboard_home {
  &__task {
    gap: 8px;

    &__hdr {
      padding: 16px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__ctt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 36px 0px;
      gap: 16px;

      &__title {
        font-family: var(--second-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 23.2px;
      }

      &__desc {
        font-family: var(--second-family);
        font-size: 14px;
        font-weight: 400;
        line-height: 20.3px;
        color: var(--shark-500);
      }
    }
  }
}
