// :root {
//   --font-family: 'Inter', sans-serif;
//   --second-family: 'CoinbaseSans', sans-serif;
//   --third-family: 'CoinbaseMono', sans-serif;
// }

:root {
  --font-family: 'Space Grotesk', sans-serif;
  --second-family: 'Space Grotesk', sans-serif !important;
  --third-family: 'Space Grotesk', sans-serif !important;
}
