@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Light.ttf') format('ttf');
  font-weight: 200;
  font-style: normal; /* Extra-Light */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Light.ttf') format('ttf');
  font-weight: 200;
  font-style: italic; /* Extra-Light Italic */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal; /* Light */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Light.ttf') format('ttf');
  font-weight: 300;
  font-style: italic; /* Light Italic */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal; /* Regular */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: italic; /* Regular Italic */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal; /* Medium */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: italic; /* Medium Italic */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal; /* Bold */
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('./SpaceGrotesk-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: italic; /* Bold Italic */
}
